.video-item {
	position: relative;
	width: 100%;
	height: 100%;
	.box {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 56.25%;
		height: inherit;
		overflow: hidden;

		.video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			pointer-events: none;

			div {
				width: 100%;
				height: 100%;

				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
